affine==3.0.1
attrs==26.1.0
branca==0.8.2
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
folium==0.20.0
fonttools==4.66.1
geopandas==1.2.0
idna==3.20
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.5.1
Markdown==3.11
MarkupSafe==3.0.3
matplotlib==3.11.2
networkx==3.7
numpy==2.5.3
osmnx==2.1.1
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pluggy==1.6.0
pyarrow==25.0.1
Pygments==2.21.0
pyogrio==0.13.0
pyparsing==3.3.3
pyproj==3.8.0
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rasterio==1.5.1
requests==2.34.2
shapely==2.1.2
six==1.17.0
tzdata==2026.4
urllib3==2.8.0
xyzservices==2026.9.1
